<body>
  <div class="window">
    <div class="top-bar">
      <div class="logo">
      <img src="../../assets/logo.png">
      </div>
      <div class="top-panel-name">
        <h1>Fat Dogs Anonymous</h1>
      </div>
    </div>
    <div class="left-panel">
      <h3 style="font-size: 20px; color: rgb(169, 169, 169);">
        Reviews
      </h3>
      <div class="review">
        <img src="../../assets/Jonathan.jpg" class="review-image">
        <div class="review-text">
          "My dog was just a few weeks from death, but thanks to Fat Dogs Anonymous, my precious puppy is now healthier and happier than ever!"
        </div>

      </div>
    </div>
    <div class="main-body">
      <h2>About Us</h2>
      <p>
        We were founded by Robert Blanston in 1997 after his favorite dog, SkYppie, died from a heart attack, a disease heavily related to dog-hood obesity.
        Indeed, his dog was morbidly obese. "All my friends referred to SkYppie as fat dog," Robert Blanston said about the size of his dog. This is how Mr. Blanston, came about his idea for his state-of-the-art Fat Dogs Anonymous program.
        The program focuses on improving the owner's relationship with the dogs health, as the owner is often the cause of the doggo's obesity.
      </p>
      <br>
      <img src="../../assets/RobertAndDog.jpg" alt="Image not found" style="height: 500px; width: 450px;">
      <figcaption>Robert Blanston and his dog, SkYppie, before SkYppie's health complications started.</figcaption>
      <p>
        Unfortunately for Mr. Blanston, he discovered the link between the owner excessively feeding the dog and the dog becoming obese too late. This left Robert depressed for multiple months,
        as he realized that he was the one who killed his beloved friend. He then found meaning in helping other dog owners avoid the same fate. Over the next decade, Robert Blanston researched causes of dog-hood obesity,
        and developed his proprietary methodologies to help heal not just the obese dog, but also the owner.
      </p>
      <p>
        While Robert Blanston's methods do focus on bringing the dog back to a healthy weight, the course is sure to help the owner avoid future conflict.
        In addition, Blanston's methods are not limited to owners with fat dogs; it is also offered to those with normal sized dogs, and even those without dogs are welcome to join.
        When asked why anyone is able to go through his process, Robert Blanston stated, "I want to not just treat dog-hood obesity, but prevent it. That means not just teaching dog owners proper practices, but also future dog owners."
      </p>
    </div>
    <div class="right-panel">
      Right Panel
    </div>
  </div>
</body>
