.window {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.main-body {
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: red;
}

.left-panel {
  background-color: green;
}

.right-panel {
  background-color: blue;
}
