.window {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 29fr;
  height: 300vh;
}

/* CSS for top bar */
.top-bar {
  display: flex;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  background-color: #3b3b3a;
}

.logo {
  border: 1px solid red;
  max-height: 6.66vw;
  height: 10vh;
  max-width: 20vw;
  aspect-ratio: 3;
}

.top-panel-name {
  width: fill;
  text-align: center;
  font-size: 2vh;
  color: white;
}

.right-side-padding {
  height: 10vh;
  max-height: 6.66vw;
  max-width: 20vw;
  aspect-ratio: 3;
}

/*CSS for about us section*/
.main-body {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  /* color: rgb(169, 169, 169); */
  font-size: 20px;
}

/*CSS for Review Panel */

.left-panel {
  grid-column-start: 1;
  grid-row-start: 2;
  /* border-radius: 5px;
  border-width: 3px;
  border-style: solid; */
  margin: 5px;
  /* border-color: rgb(107, 107, 107); */
  text-align: center;
}

.review {
  display: flex;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  height: fit-content;
  min-height: 10vh;
  margin: 5px;
  padding: 20px;
  align-items: center;
}

.review-image {
  aspect-ratio: 1;
  height: 10vh;
  max-height: 10vw;
}

.review-text {
  margin-left: 1vw;
  /* color: rgb(169, 169, 169); */
}

/*CSS for right panel of site*/

.right-panel {
  background-color: blue;
  grid-column-start: 3;
  grid-row-start: 2;
}


